.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(135deg, #A5D8E6, #0A0355);
}

.homeHeading {
    color: rgb(255, 255, 255);
    font-size: 55px;
    font-weight: bold;
}

.generalButton {
    color: rgb(255, 255, 255);
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    margin: 0.5rem;
    margin-left: 15px;
}

.generalButton span {
    margin-left: 10px;
    margin-right: 10px;
}

.cursor {
    display: inline-block;
    width: 10px;
    animation: blink 0.8s infinite;
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }